<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LifeBaro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LifeBaroT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>αBaro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0CFAF261BCB1E4C00D10615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0CFAF3E1BCB1E4D00D10615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB391E841C817D78005F7DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB391EA11C83EBC9005F7DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
